html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  background-color: #ffffff;
  color: #464045;
  box-sizing: border-box;
  min-width: 375px;
  font-style: normal;
}

/* БЭМ блоки  */
.title {
  margin: 0;
  font-weight: 800;
  text-align: center;
  color: #4F4F4F;
  font-size: 48px;
  line-height: 1.3;
}

.button {
  font-family: inherit;
  display: block;
  text-align: center;
  padding: 20px 24px;
  background-color: #FCC53B;
  border-radius: 0;
  color: #464045;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  border: 2px solid #FCC53B;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  max-width: max-content;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  padding: 0 45px;
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: #ffb600;
  border-color: #ffb600;
}

.button:active {
  background-color: #b78508;
  border-color: #b78508;
}

.logotype__description {
  display: block;
  font-size: 16px;
  line-height: 19px;
  line-height: 1.2%;
}


/* первый экран  */
.first-screen {
  background-color: #331612;
  background-image: url(../img/bg-first-screen.jpg);
  color: #ffffff;
  min-height: 100vh;
  width: 100vw;
  padding-top: 200px;
}

.first-screen__title {
  color: #ffffff;
  font-size: 74px;
  line-height: 1.1;
  margin-bottom: 32px;
}

.first-screen__text {
  margin: 0;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 70px;
  max-width: 760px;
}

.first-screen__promo {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  max-width: 420px;
}

.first-screen__button {
  margin: 0 auto;
  min-width: 415px;
  width: 100%;
}

.first-screen__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Шапка */
.header {
  padding: 20px 0 12px;
}

.site-header {
  position: absolute;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header .wrapper {
  display: grid;
  gap: 32px;
  align-items: center;
  grid-template-columns: 5fr 2fr 5fr;
}

.header__logotype {
  margin-right: auto;
}

.header__social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__contacts {
  display: grid;
  gap: 32px;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  margin-left: auto;
}

.logotype {
  display: grid;
  gap: 32px;
  align-items: center;
  grid-template-columns: 2fr 3fr;
}

.logotype__image {
  display: block;
  max-width: 192px;
}

.logotype__description {
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}

.header__tel {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  display: block;
}

.header__button {
  background-color: transparent;
  color: #FCC53B;
  min-width: 300px;
}

.features {
  margin-bottom: 32px;
}


.features-title {
  font-size: 48px;
  line-height: 53px;
  line-height: 1.1%;
  margin-bottom: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.features__list {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
  list-style: none;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.features__item {
  text-align: center;
  display: inline-block;
}

.features__name {
  margin: 0;
}

.features-title {
  min-width: 735px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.features__text {
  margin: 0;
  width: 370px;
  line-height: 1.1%;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
}

.jobs {
  background-image: url(../img/bg-jobs.jpg);
  background-color: white;
  color: #4F4F4F;
  margin-bottom: 110px;
  width: 1920px;
  height: 786px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.jobs__wrapper {
  background-color: #ffffff;
  width: 615px;
  height: 665px;
  margin-right: 307px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.jobs__title {
  font-size: 34px;
  margin-bottom: 32px;
  text-align: left;
}

.jobs__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.jobs__list {
  margin: 0;
  margin-bottom: 32px;
  padding: 100px;
}

.jobs__button {
  min-width: 410px;
  width: 100%;
}

.footer__top {
  background-color: #464045;
  color: white;
}

.footer__bottom {
  background-color: #000000;
  color: #ffffff;
}


.lotype__description {
  display: block;
  font-size: 16px;
  line-height: 19px;
  line-height: 120%;
}

.social {
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-columns: 5fr 2fr 5fr;
  grid-template-columns: repeat(4, 1fr);
}


.footer__column {
  display: inline-block;
}

.footer__promo {
  margin: 0;
  padding: 0;
}

/* меню */

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 32;
  grid-template-columns: repeat(6, 1fr);

}

.main-navigation__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 20px;
  display: block;
  text-align: center;
}


.main-navigation__item:first-of-type .main-navigation__link {
  text-align: left;
}

.main-navigation__item:last-of-type .main-navigation__link {
  text-align: right;
}

.travel-mode {
  padding: 60px 0 100px;
}

.travel-mode__subtitle {
  text-align: center;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 35 px;
}

.travel-mode__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}

/* карточка поездки */

.travel-card {
  background-color: #ffffff;
  color: #464045;
}

.travel-card__wrapper {
  padding: 32px;
  margin-bottom: 55px;
  text-align: center;
  border: 1px solid #464045;
  border-top: 0;
  border-color: #464045;
}

.travel-card__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.3;
  text-align: center;
  color: #4F4F4F;
  margin: 0;
  margin-bottom: 16px;
}

.travel-mode__title {
  margin-bottom: 12px;
}

.travel-card__details {
  margin: 0;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #4F4F4F;
  margin-bottom: 16px;
}

.travel-card__mode {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1px;
  position: relative;
}

.travel-card__button {
  min-width: 400px;
  margin: 0 auto;
}

.travel-card__mode th {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: #4F4F4F;
  width: 50%;
}

.travel-card__mode td {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.6;
  text-align: center;
  color: #547dff;
}

/* вот как ты вообще понял, что тут надо так сделать */

.travel-card__mode::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  background-color: rgba(70, 64, 69, 0.3);
  top: 0;
  bottom: 0;
}

.travel-card__photo {
  display: block;
}
